<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/dash-head'); %>
<body class="bg-light" style="color: rgb(102, 62, 96);">
    <main class="container">
        <!-- top nav start -->
        <%- include('../partials/dash-top_nav'); %>
         <!-- top nav end -->
        <!-- side sec -->
        <div class="row">
            <!-- Dashboard Nav Section -->
           
            <%- include('../partials/dash-left-nav'); %>
              <!-- info Section -->
            <section class="col-lg-8 col-md-8 col-12" id="perso">
              <div class="card shadow p-3">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold text-prof">Information</h4>
                  <a role="button" data-bs-toggle="modal"data-bs-target="#adduser"
                        class="  border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
                        style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                </a>
                </div>

                <div class="card-body">
                  
                    <% let i =1; if(Users.length){ %>
                      <% for(let item =0; item< Users.length; item++){ %>
                  
                      <%= i++ %>
                  <div class="row shadow-sm">
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">User Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%= Users[item].username %>
                        </div>
                      </div>
                      <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].fullname %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].email %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].phone %>
                      </div>
                    </div>
                    <hr>
                     <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].Address %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                     <div class="col-sm-3">
                       <h6 class="mb-0">Bio</h6>
                     </div>
                     <div class="col-sm-9 text-secondary">
                        <%= Users[item].bio %>
                     </div>
                   </div>
               
                
                  </div>
                  <%}
            
           
                }
        
            else{
            %>
        
        
                                There are no User
        
        
                                <%}%>
                  </div>
              </div>
            </section>
            <div class="modal fade" id="adduser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Add User</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 needs-validation" action="/adduser" method="post">
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="username"
                                        placeholder="username">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="fullname"
                                        placeholder="fullname">
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control rounded-pill" name="email" id=""  placeholder="email">
                                </div>
                                <div class="col-12">
                                    <input type="tel" class="form-control rounded-pill" id="" name="phone"
                                        placeholder="phone">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" name="Address" id=""  placeholder="Address">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="bio"
                                        placeholder="bio">
                                </div>
                                <!-- <div class="col-12">
                                    <input type="file" class="form-control rounded-pill" id="" name="user_image"
                                        placeholder="user_image">
                                </div>
                                <div class="col-12">
                                    <input type="file" class="form-control rounded-pill" name="cv_file" id=""  placeholder="cv_file">
                                </div> -->
                                <div class="modal-footer">
                                    <button class="btn btn-primary d-block " type="submit">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Edit user avatar image model -->
    <div
      class="modal fade"
      id="avatar-edit-model"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <!-- model header -->
          <div class="modal-headerd-flex justify-content-between align-items-center">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Edit image profile
            </h4>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- model body -->
          <div class="modal-body">
            <form class="g-3">
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" />
              </div>
            </form>
          </div>

          <!-- model footer -->
          <div class="modal-footer">
            <button type="button" class="btn bg-primary text-white">
              update
            </button>
          </div>
        </div>
      </div>
    </div>

    



   

    
    
    




     <script src="../js2/bootstrap.bundle.min.js"></script>
     <script src="../js2/jquery.min.js"></script>
     <script>
        // $('personal').click($('pp').hide());
        $(document).ready(function(){
        $("#wrk,#skil,#serv,#expe,#cont,#Edpers").hide();
        });

    </script>


</body>
</html>