<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/dash-head'); %>
<body class="bg-light" style="color: rgb(102, 62, 96);">
    <main class="container">
        <!-- top nav start -->
        <%- include('../partials/dash-top_nav'); %>
         <!-- top nav end -->
        <!-- side sec -->
        <div class="row">
            <!-- Dashboard Nav Section -->
           
            <%- include('../partials/dash-left-nav'); %>
              <!-- info Section -->
            <section class="col-lg-8 col-md-8 col-12" id="perso">
              <div class="card shadow p-3">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <!-- <a role="button" data-bs-toggle="modal"data-bs-target="#adduser"
                          class="  border border-primary rounded d-flex justify-content-center align-items-lg-center rounded-circle" 
                          style="bottom: 10%;left: 35%; width: 30px;height: 30px;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                          </svg>
                  </a> -->
                  <h4 class="fw-bold text-prof">Information</h4>
                  <%  if(Users.length){ %>
                    <% for(let item =0; item< Users.length; item++){ %>
           
                  <div > 
                      <button 
                      type="button"
                       class="btn btn-sm text-lg-end" 
                       style="color:rgb(41, 204, 155);"
                        data-bs-toggle="modal" 
                        data-bs-target="#editUsers<%=Users[item]._id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square " viewBox="0 0 16 16">
                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                     <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                   </svg></button>
      
                  <a href="" style="color:rgb(204, 41, 55);"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6.5 1a.5.5 0 0 0-.5.5v1h4v-1a.5.5 0 0 0-.5-.5h-3ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1H3.042l.846 10.58a1 1 0 0 0 .997.92h6.23a1 1 0 0 0 .997-.92l.846-10.58Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg></i></a>
                  </div>
              

                </div>

                <div class="card-body">
                  
                  
                  <div class="row shadow-sm">
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">User Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <%= Users[item].username %>
                        </div>
                      </div>
                      <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].fullname %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].email %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].phone %>
                      </div>
                    </div>
                    <hr>
                     <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%= Users[item].Address %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                     <div class="col-sm-3">
                       <h6 class="mb-0">Bio</h6>
                     </div>
                     <div class="col-sm-9 text-secondary">
                        <%= Users[item].bio %>
                     </div>
                     
                   </div>
                
                      <div class="row">
                     <img style="width: 45%; height: 55%;" src="/imgs/<%=Users[item].user_image %>"> 
                      </div>
                 
                  </div>

                          <!-- edit Users Modal  -->
             <div class="modal fade" id="editUsers<%=Users[item]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Edit Usersience</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <form class="row g-3 needs-validation"  action="Edit_Users" method="post" >
                                        <input  type="hidden" name="id" value="<%=Users[item]._id%>">
                                        <div class="col-12">
                                            <input type="text" class="form-control rounded-pill" id="" name="username" placeholder="username"  value="<%= Users[item].username %>">
                                        </div>
                                        <div class="col-12">
                                                <input type="text" class="form-control rounded-pill"  name="fullname" placeholder="fullname"  value="<%= Users[item].fullname %>">
                                            </div>
                                            <div class="col-12">
                                                    <input type="email" class="form-control rounded-pill"  name="email" placeholder="email"  value=" <%= Users[item].email %>">
                                                </div>
                                                <div class="col-12">
                                                        <input type="tel" class="form-control rounded-pill"  name="phone" placeholder="phone"  value="<%= Users[item].phone %>">
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control rounded-pill" id="" name="Address" placeholder="Address"  value=" <%= Users[item].Address %>">
                                                    </div>
                                                    <div class="col-12">
                                                            <input type="text" class="form-control rounded-pill"  name="bio" placeholder="bio"  value="<%= Users[item].bio %>">
                                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary d-block " type="submit">Save</button>
                                        </div>
                                    </form>
                        </div>
                       
                    </div>
                </div>
            </div>
            <%}
            
           
          }
  
      else{
      %>
  
  
                          There are no User
  
  
                          <%}%>
                  </div>
              </div>
            </section>
            <div class="modal fade" id="adduser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Add User</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 needs-validation" action="/adduser" method="post" enctype="multipart/form-data">
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="username"
                                        placeholder="username">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="fullname"
                                        placeholder="fullname">
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control rounded-pill" name="email" id=""  placeholder="email">
                                </div>
                                <div class="col-12">
                                    <input type="tel" class="form-control rounded-pill" id="" name="phone"
                                        placeholder="phone">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" name="Address" id=""  placeholder="Address">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-pill" id="" name="bio"
                                        placeholder="bio">
                                </div>
                                <div class="col-12">
                                    <input type="file" class="form-control rounded-pill" id="" name="user_image"
                                        placeholder="user_image">
                                </div>
                                <!-- <div class="col-12">
                                    <input type="file" class="form-control rounded-pill" name="cv_file" id=""  placeholder="cv_file">
                                </div> -->
                                <div class="modal-footer">
                                    <button class="btn btn-primary d-block " type="submit">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Edit user avatar image model -->
    <div
      class="modal fade"
      id="avatar-edit-model"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <!-- model header -->
          <div class="modal-headerd-flex justify-content-between align-items-center">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Edit image profile
            </h4>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- model body -->
          <div class="modal-body">
            <form class="g-3">
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" />
              </div>
            </form>
          </div>

          <!-- model footer -->
          <div class="modal-footer">
            <button type="button" class="btn bg-primary text-white">
              update
            </button>
          </div>
        </div>
      </div>
    </div>

    



   

    
    
    




     <script src="../js2/bootstrap.bundle.min.js"></script>
     <script src="../js2/jquery.min.js"></script>
     <script>
        // $('personal').click($('pp').hide());
        $(document).ready(function(){
        $("#wrk,#skil,#serv,#expe,#cont,#Edpers").hide();
        });

    </script>


</body>
</html>