<!DOCTYPE html>
<html >

        <%- include('../partials/head.ejs'); %>
        <style>



                </style>
<body>
            <%- include('../partials/header.ejs'); %> 

    <main class="main">
        <section class="home section" id="home">
            <div class="home_container container grid">
                    <%  if(Users.length){ %>
                        <% for(let item =0; item< Users.length; item++){ %>
               
                <div class="home_content grid">
                    <div class="home_social">
                        <a href="https://www.facebook.com/profile.php?id=100009203834822" class="home_social-icon" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="home_social-icon" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://github.com/afnanalkadasi" class="home_social-icon" target="_blank">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </div>
                    <div class="home_img">
                        <img src="/imgs/<%=Users[item].user_image %>" x="12" y="18" class="home_blob_img">
                    </div>

                    <div class="home_data">
                        <h1 class="home_title">
                            <div class="warpper">
                                <div class="static-txt"> I'm</div>
                                <ul class="dynamic-txts">
                                    <li><span>Engnieer</span></li>
                                    <li><span>Designer</span></li>
                                    <li><span>Web Developer</span></li>
                                </ul>
                            </div>
                            </h1>
                        <p class="home_description">
                                <%= Users[item].bio %>
                        </p>
                        <a href="#contact" class="button button-flex">
                            Contact Me
                        </a>
                        <a download="" href="pdf/cv_afnan.pdf" class="button button-flex">
                            Download CV <i class="fa-solid fa-down"></i>
                        </a>
                    </div>
                </div>

                <%}
            }
    
        else{
        %>
    
    
                            There are no User
    
    
                            <%}%>
            </div>
        </section>

        <section class="about  section" id="about">
                <h2 class="section-title"> Skills </h2>
                <span class="section-subtitle">
                    My Technical level
                </span>
                <div class="skills_container container grid">
                    <div>
                           <!-- skill 1 -->
                    <div class="skills_content skills_open">
                        <div class="skills_header">
                             
                                <i class="fas fa-code skills_icon"></i>
                            <div>
                                <h1 class="skills_title">
                                    Web Developer
                                </h1>
                                <span class="skills_subtitle">
                                    Read More
                                </span>
                            </div>
                            <i class="fas fa-arrow-down skills_arrow"></i>
                          
                        </div>
                        <div class="skills_list grid">
                            <%  if(skills.length){ %>
                                <% for(let item =0; item< skills.length; item++){ %>
                            
                      
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name">     <%= skills[item].skill_name %></h3>
                                    <span class="skills_number">   <%= skills[item].progress_percent %> </span>
                                </div>
                                <div class="skills_bar">
                                    <span class="skills_percentage " style="width: <%= skills[item].progress_percent %>% ;"></span>
                                </div>
                            </div>
                            <%}
            
            
                        }
                
                    else{
                    %>
                
                
                                        There are no skill
                
                
                                        <%}%>
                        </div>
                    </div>
                    </div>
                               
                </div>
            </section>
     
            <section class="experienc section" id="experienc">
                    <h2 class="section-title"> Experience </h2>
                    <div class="exper">
                      
                                  <div class="menu">
                                      <div class="course">
                                            <% if(exper.length){ %>
                                                <% for(let item =0; item< exper.length; item++){ %>
                                        <div class="item">
                                          <h4><%= exper[item].experince_name%></h4>
                                          <p><%= exper[item].place %></p>
                                          <p> <%= exper[item].details %></p>
                                          <br>
                                          <p><%= exper[item].year %> Year</p>
                                        </div>
                                        <%}%> 
                                        <%  } else{ %>
                                 
                                      
                                                     There are no experience
                                                   
                                 
                                     <%}%>
                                      </div>
                                   </div>
                      </div>
                    </section>

            <section class="section" id="works"  >
                
                    <h2 class="section-title"> Works </h2>

                        <div class="recursos">
                            <%if(Works.length){ %>
                                <% for(let item =0; item< Works.length; item++){ %>
                                   
                            <div class="recurso">
                
                                <a href="<%=Works[item].link %>">
                                    <img src="/imgs/<%=Works[item].pro_image %>" alt="">
                                </a>
                                <h1 style="margin-left: 17%;" >  <%=Works[item].pro_name %>  </h1> 
                             

                            </div>
                            <%}%> 
                            <%  } else{ %>
                     
                          
                                         There are no Works
                                       
                     
                         <%}%>
                         
                
                
                        </div>
                 
                    </div>
                  </section>

       
        <section class="section" id="service">
       

    <div class="container_ser">
        <h2 class="section-title">
            Services
        </h2>
        <br><br>
      <div class="row">
            <%  if(Service.length){ %>
                <% for(let item3 =0; item3< Service.length; item3++){ %>
        <div class="service">
          <i class="<%= Service[item3].icon %>"></i>
          <h2>       <%= Service[item3].service_name%> </h2>
          <p>
                <%= Service[item3].details %>
          </p>
        </div>
        <%}%> 
        <%  } else{ %>
        
        
            There are no Service
          
        
        <%}%>
   
      </div>
    </div>
  
        </section>
        


            <section class="contact section" id="contact">
                    <h2 class="section-title"> Contact Me</h2>
                    <span class="section-subtitle">
                        Get in touch
                    </span>
                    <div class="contact_container container grid">
                        <div>
                                <% if(Contact.length){ %>
                                    <% for(let item =0; item< Contact.length; item++){ %>
                            <div class="contact_info">
                                <i class="<%= Contact[item].icon %> contact_icon"></i>
                                <div>
                                    <h3 class="contact_title"><%= Contact[item].contact_name %></h3>
                                  <a href="<%= Contact[item].link %>"><span class="contact_subtitle"><%= Contact[item].link %></span></a>  
                                </div>
                            </div>
                            <%}%> 
                            <%  } else{ %>
                     
                          
                                         There are no Contact
                                       
                     
                         <%}%>
                        </div>
                        <form action="#" class="contact_form grid" id="myForm">
                            <div class="contact_input grid">
                                <div class="contact_contect">
                                    <label for="" class="contact_label">Name</label>
                                    <input type="text" class="contact_input contact_inputs"
                                     placeholder="Enter Your Full Name" id="usrname">
                                </div>
                                <span id="error" style="font-size: 10px; color:red;"></span>
                                <div class="contact_contect">
                                    <label for="" class="contact_label">Email</label>
                                    <input type="email" class="contact_input contact_inputs" id="email" placeholder="Enter Your Email">
                                </div>
                                <span id="error2" style="font-size: 10px ; color:red;"></span>
                                <div class="contact_contect">
                                    <label for="" class="contact_label">Message</label>
                                    <textarea name="" id="txt1" cols="0" rows="4" class="contact_input contact_inputs" placeholder="Enter Your Message "></textarea>
                                </div>
                                <span id="error3" style="font-size: 10px; color:red;"></span>
                                <div>
                                    <a  class="button button-flex" id="submit" type="submit"> 
                                        Send Message
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
          
        <div id="id01" class="modal ">
               
            <div class="login-box">
                    <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
                <h2>Login</h2>
              
                <form class="modal-content animate" action="" method="post">
                 
              
                        <div class="user-box">
                                <input type="text"  name="username" required>
                                <label>Username</label>
                        </div>
                        <div class="user-box">
                               
                                <input type="password" name="password" required id="password">
                                       
                                <label  for="psw" >Password  </label> <i class="bi bi-eye-slash" id="togglePassword" style="float: right;
                                cursor: pointer; margin-top: -60px; margin-right: 10px; color: tomato; ">j</i>
                                                     
                              </div>
                
                         <a href="/dashboard" type="submit" class="log">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Submit
                          </a>
                        <br>
                        <div class="forg">
                                <label >
                                        Forgot   <a href="#" style="color: #03e9f4;">password?</a> 
                                    </label>
                        </div>
                        
                       
              
              
                </form>
            </div>
        </div>
              
     
    </main>
    
    <a href="#" class="scroll-up" id="scroll-up">
        <i class="fas fa-arrow-up scroll-up_icon "></i>
    </a>
 <%- include('../partials/footer.ejs'); %> 

    <script src="js/main.js"> </script>
    <script>
            // Get the modal
            var modal = document.getElementById('id01');
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            
    </script>
    <script>
          const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>
</body>

</html>